@keyframes lazyRender {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.homepage__container {}

.homepage__textfield {}

.homepage__cards-area {
  margin-top: 15px;
  padding: 20px;
  height:70vh;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: scroll;
}

.cards-area__container {} 

.cards-area__item {
  width: calc(25% - 20px);
  min-height: 250px;
  max-height: 500px;
}

.card {
  animation: lazyRender 1s forwards;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 5px;
  box-sizing: border-box;
  padding: 1%;
  border-radius: 10px;
  background-color: #fff;
  font-size: 0.8em;
  text-align: center;
  box-shadow: 3px -3px 8px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.card:hover {
  transform: scale(102%);
  box-shadow: 5px -5px 8px 0px rgba(0, 0, 0, 0.5);
}

.card__img-contain {
  width: 100%;
}

.card__img {
  max-width: 100%;
}
